@using MyReUse.ViewModels
@model EmployeeListViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexList</title>
</head>
<body>
    <a href ="/Employee/AddNew">
        Add New</a>
    <div style="text-align:right"> Hello, @Model.UserName <a href="/Authentication/Logout">Logout</a></div>
        <div>
            @foreach (EmployeeViewModel item in Model.Employees)
            {
                <p> 
                    @item.EmployeeName
                    <span style="background-color:@item.SalaryColor">@item.Salary</span>
                </p>

            }
            @{
                 Html.RenderPartial("Footer",Model.FooterData);
             }
        </div>
   
     
</body>
</html>
