@using MyReUse.ViewModels
@model EmployeeListViewModel
@{
    Layout =  "~/Views/Shared/MyLayout.cshtml";
}
@section TitleSection{
      MyView
    }
@section ContentBody{
    
  <div>
    
    @{
        Html.RenderAction("GetAddNewLink");
    }
    <hr />
  </div>

     <div>
            @foreach (EmployeeViewModel item in Model.Employees)
            {
                <p> 
                    @item.EmployeeName
                    <span style="background-color:@item.SalaryColor">@item.Salary</span>
                </p>

            }
     </div>
}