@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection{
    Add
}
@section HeaderSection{
    <link href="~/Ueditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Ueditor/umeditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Ueditor/umeditor.min.js"></script>
    <script type="text/javascript" src="~/Ueditor/lang/zh-cn/zh-cn.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/js/AddArticle.js"></script>
    
}
@section ContentBody{
    <div class="body-content">
     
        @using (Html.BeginForm())
        {
            @Html.DisplayName("文章标题:")
            @Html.TextBox("topic", "", new { @class = "form-control myinput" }) <br />
            @Html.DisplayName("文章内容:")<br />
            <script type="text/plain" id="content" style="width:1000px;height:340px;">
                <p>这里我可以写一些输入提示</p>
            </script>
            <br />
            <button type="button" class="btn btn-default" id="save">发表</button>

        }
        <script type="text/javascript">
            //实例化编辑器
            var um = UM.getEditor('content');
        </script>
    </div>
}

